@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap&subset=latin-ext');

$theme: #7bdcb5;
$white: #fff;
$black: #000;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Muli';
  font-weight: 400;
  background-color: $theme;
}

body,
html {
  height: 100%;
}

body {
  background-color: $white;
}

.app {
  height: 100%;
  &-header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
      margin: 0;
    }
  }
  &-link{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    svg{
      fill: #000;
    }
  }
  &-form{
    margin: 15px 0;
    h2{
      margin: 0;
      margin-bottom: 15px;
    }
  }
}

.container{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.code{
  overflow: hidden;
  border-radius: 5px;
}

.form {
  h2 {
    margin: 0;
    margin-bottom: 15px;
  }
  &-fields{
    background-color: darken(#fff, 5%);
    border-radius: 5px;
    font-size: 0;
  }
  &-field{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 15px;
    &-title{
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 5px;
    }
    &-input{
      input{
        width: 100%;
        padding: 10px 15px;
        background-color: #fff;
        border-radius: 5px;
        border: none;
        &:focus{
          outline: none;
        }
      }
    }
  }
}
