@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap&subset=latin-ext');

$theme: #7BDCB5;
$white: #fff;
$black: #000;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Muli';
  font-weight: 400;
  background-color: $theme;
}

body,html{
  height: 100%;
}

.app{
  padding-top: 100px;
  min-height: 4000px;
  height: 100%;
  background-color: $white;
}

.header {
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  &-logo{
    a{
      color: $white;
      font-weight: 800;
      text-decoration: none;
      position: relative;
      font-size: 20px;
    }
    svg{
      fill: $theme;
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: auto;
      transform: translate(-10%, -20%);
      path{
        transition: all 0.3s;
      }
    }
  }
}

.container{
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}